body {
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Ensure body takes at least full viewport height */
    display: flex;
    flex-direction: column; /* Arrange children in a column */
}

header {
    font-family: 'Courier New', Courier, monospace;
    background-color: skyblue;
    color: rgb(10, 10, 10);
    padding: 20px; /* Increased padding for more space */
    text-align: center;
    width: 100%;
}
.image-container {
    width: 400px; 
    height: 400px;margin: auto;
}

.imaged { 
    width: 320px; 
    height: 320px;
    max-width: 100%; 
}

.enrollmain{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input[type="submit"] {
        margin-top: 10px; 
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
   

    .login-button {
        background-color: #007BFF; /* Button background color */
        color: white; /* Text color */
        padding: 10px 15px; /* Padding */
        border-radius: 5px; /* Rounded corners */
        text-decoration: none; /* Remove underline */
        cursor: pointer; /* Pointer on hover */
        transition: background-color 0.3s; /* Smooth transition */
        font-size: 16px; /* Font size */
    }
    
    /* Change background color on hover */
    .login-button:hover {
        background-color: #0056b3; /* Darker blue */
    }
    
    form {
        display: flex;
        flex-direction: column;
    }
    
    input[type="text"],
    input[type="password"] {
        margin-bottom: 10px;
        padding: 10px;
        width: 200px;
    }
    
    input[type="submit"],
    button {
        padding: 10px;
        width: 100px;
        cursor: pointer;
        margin-top: 10px;
    }

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    .edit-column {
        display: table-cell; /* Default display for teachers */
    }
    
    #input-grades {
        margin-top: 20px;
    }
     display: inline;
    margin-right: 15px;
}


footer {
    background-color: skyblue;
    color: black;
    padding: 20px; /* Increased padding for more space */
    text-align: center;
    width: 100%;
    margin-top: auto; /* Pushes footer to the bottom */
}
